<!DOCTYPE html>
<html>
  <head>
    <title>demo</title>
    <meta http-equiv='content-type' content='text/html;charset=utf-8' />
    <meta name='mobile-web-app-capable' content='yes' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <link rel='shortcut icon' href='/favicon.ico' />
  </head>
  <body>
    <header class="navbar"></header>
    <section class='YnaviContent'>
      <div class='mainMenu'></div>
      <div class='subMenu'></div>

      <div id='app'></div>

    </section>

    <!-- 3pt -->
    <script src='/dist/js/jquery/jquery.min.js'></script>
    <script src='/dist/js/echarts/echarts.common.min.js'></script>
    <!-- core -->
  </body>
</html>
